# Energy consumption test results

- [Click to add](https://github.com/mandrigin/status-go-n-wrapper/compare/master...report/example?quick_pull=1&template=test_result_pr_template.md&title=Energy%20consumption%20test%20result%20for%20build:%20{build%20name},%20os:%20{Android,%20iOS}) new manual test result

## Manual test results

|Date|Build|Platform|Test session|Device|Conditions|Battery (total)*|Battery (CPU)*|Total data transferred*|Logs|
|---|---|---|---|---|---|--|--|--|--|
|2018-03-16|233fgj5 (whisper v6)|Android|Release testing (30 min)|Samsung Galaxy S8|wifi only, 30% screen brightness|0.62%|0.94%|6.4MB|bugreport-2018-03-12-16-06-16.zip|

----
**Battery (total)** - Device estimated power use
**Battery (CPU)** - Device estimated power use due to CPU usage
**Total data transferred** - Wifi data + Mobile data that was transferred